main{
    margin-left: $navBarWidth;
    padding: 30px;
    margin-top: 50px;
    hr{
        margin-bottom: 20px;
        border: 0;
        border-top: 3px solid #eee;
    }  
}

.main-container{
    background-color: white;
    padding: 20px;
}

body{
   background:#f3f3f3;
}
