main{
    margin-left: $navBarWidth;
    padding: 20px;

    hr{
        margin-bottom: 20px;
        border: 0;
        border-top: 3px solid #eee;
    }  
}


body{
   background:#f3f3f3;
}