.host{
    background-color: #f9f9f9;
    display: inline-block;
    width: 200px;
    margin: 20px;
    border: 1px solid #dedede;
    padding: 10px;
    .host-item{
       padding: 2px;
       color:#8a919c;
    }
}